div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

#red {
  background-color: rgb(231, 142, 142);
}

#orange {
  background-color: rgb(221, 159, 107);
}

#yellow {
  background-color: rgb(231, 203, 110);
}

#green {
  background-color: rgb(139, 238, 130);
}

#blue {
  background-color: rgb(137, 209, 243);
}

#violet {
  background-color: rgb(138, 147, 231);
}

#indigo {
  background-color: rgb(236, 142, 221);
}